* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

body {
     background-image: url('b.jpg'); 
            background-size: cover; 
            background-position: center; 

}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
    background-color: #7febec;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

.calculator #display {
    color: #333;
}

.calculator button#clear {
    background-color: #f0a3a3;
    color: #8b0e0e;
}

.calculator button.btn-number {
    background-color: #f8fafb;
    color: #2e2e2e;
}

.calculator button.btn-operator {
    background-color: #f1cc94;
    color: #3d3d3d;
}

.calculator button.btn-equal {
    background-color: #5aca5a;
    color: #ffffff;
}
